---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to the big leagues with Astro.">
	<main>
		<h1>The Body</h1>
	</main>
</Layout>
